<nb-card>
  <nb-card-body>
      <nb-card-header centered><h4>Choisir L'unitée opérationelle</h4></nb-card-header>
      <br>
      <nb-select placeholder="Séléctionner" [(selected)]="selectedItem">
                      
          <nb-option-group *ngFor="let group of societes" [title]="group.title">
            <nb-option *ngFor="let option of group.uniops" [value]="option.id" (click)="onClick(option)">
              {{ option.title }}
            </nb-option>
          </nb-option-group>

      </nb-select>
  </nb-card-body>
  <nb-card-body>
    
      <ng-container *ngIf="selectedOption">
        <h4>Choisir le collaborateur</h4>
          <input
           
            [formControl]="employeeFormControl"
            nbInput
            type="text"
            placeholder="Taper le nom ou matricule"
            [nbAutocomplete]="auto"
            fullWidth
            
          />
                    
          <nb-autocomplete #auto >
            <nb-option *ngFor="let option of filteredOptions$ | async; trackBy: trackByFn" (click)="getSelectedEmployee(option)" [value]="option.firstname">
              <strong>Matricule</strong>: &nbsp;{{option.matricule}}  <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom et Prénom:</strong>  &nbsp;{{ option.firstname }} {{option.lastname}}
            </nb-option>
          </nb-autocomplete>
        </ng-container>
      <ng-container *ngIf="employee">
          <br>
          <br>
          <br>
          <br>
          <nb-card-body class="name bold"><strong>Matricule</strong>:   {{employee?.matricule}}<strong>&nbsp;&nbsp;&nbsp;Nom et Prénom:</strong> {{employee?.firstname}} {{employee?.lastname}}<strong>&nbsp;&nbsp;&nbsp;Age: {{employee?.age}}</strong></nb-card-body>
          <br>
          <br>
          <nb-tabset [(selectedIndex)]="activeTabIndex">
            <nb-tab tabTitle="Examens médicales" [active]="isTabActive(0)">
              <ng2-smart-table
              [settings]="settings"
              [source]="tableData">
            </ng2-smart-table>
            </nb-tab>
            <nb-tab tabTitle="Examen complémentaires" [active]="isTabActive(1)">
              <ng2-smart-table
              [settings]="settingsExam"
              [source]="tableDataExam">
            </ng2-smart-table>
            </nb-tab>
            <nb-tab tabTitle="Déclarations maladies professionelles" [active]="isTabActive(2)">
              <ng2-smart-table
              [settings]="settingsDec"
              [source]="tableDataDec">
            </ng2-smart-table>
            </nb-tab>
    </nb-tabset>
  </ng-container>
  </nb-card-body>
</nb-card>
