<div class="app-content content">
    <div class="content-wrapper">

      <div class="content-body">
        <section id="calendar">
          <div class="row">
            <div class="col-12" *blockUI="'default'; message: 'Loading'">
              <m-card [options]="options" (reloadFunction)="reloadDefault($event)">

                <ng-container mCardBody>
                  <div>
                  </div>
                  <ng-template #modalContent let-close="close">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ modalData?.action }}</h5>
                      <button type="button" class="close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div class="form-body">
                        <div class="form-group">
                          <label>Event Title:</label>
                          <input type="text" name="event-title" class="form-control" [(ngModel)]="modalData?.event.title"
                            (keyup)="refresh.next()">
                        </div>

                        <div class="row">
                          <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label>Primary Color:</label>
                              <input type="color" name="primary-color" [(ngModel)]="modalData?.event.color.primary"
                                (change)="refresh.next()">
                            </div>
                          </div>
                          <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label>Secondary Color:</label>
                              <input type="color" name="secondary-color" [(ngModel)]="modalData?.event.color.secondary"
                                (change)="refresh.next()">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label>Starts At:</label>
                              <!-- <input type="date" name="starts-at" [(ngModel)]="modalData?.event.start" (ngModelChange)="refresh.next()" placeholder="Not set"> -->
                              <!-- <input type="date" class="form-control" id="date" > -->
                              <app-mwl-demo-utils-date-time-picker name="starts-at" [(ngModel)]="modalData?.event.start" [evid]="modalData?.event" (ngModelChange)="refresh.next()" placeholder="Not set">
                              </app-mwl-demo-utils-date-time-picker>
                            </div>
                          </div>
                          <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label>Ends At:</label>
                              <app-mwl-demo-utils-date-time-picker name="ends-at" [(ngModel)]="modalData?.event.end" [evid]="modalData?.event" (ngModelChange)="refresh.next()" placeholder="Not set">
                              </app-mwl-demo-utils-date-time-picker>
                            </div>
                          </div>
  
                        </div>
                      </div>
  
                    </div>
                    <div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="onSubmit(modalData)">OK</button>
                    </div>
                  </ng-template>
                  <div class="card">
                    <div class="card-block">
                      <div class=" row d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
  
                        <div class="col-md-4 bottom_space">
                          <div class="btn-group">
                            <button nbButton status="primary"  class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Précédent
                            </button>
                            <button nbButton class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                              Aujourd'hui
                            </button>
                            <button nbButton status="primary"  mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Suivant
                          </button>
                          </div>
                        </div>
                        <div class="col-md-4 text-center align-self-center bottom_space">
                          <h3 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
                        </div>
                        <div class="col-md-4 text-right bottom_space">
                          <nb-button-group  (valueChange)="updateView($event)">
                            <button nbButton value="month" pressed [nbButtonToggle]="view === 'Month'">Mois</button>
                            <button nbButton value="week" [nbButtonToggle]="view === 'Week'">Semaine</button>
                            <button nbButton value="day" [nbButtonToggle]="view === 'Day'">Jour</button>
                          </nb-button-group>
                        </div>
  
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button nbButton status="primary"  class="btn btn-raised btn-primary pull-right" (click)="addEvent()">
                            Ajouter Rendez-vous
                          </button>
                        </div>
                      </div>
                      <div [ngSwitch]="view">
                        <mwl-calendar-month-view [locale]="locale" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view [locale]="locale" *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
                          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view [locale]="locale" *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
                          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
    
  </div>
  