



  <nb-card class="custom-card">
    <nb-card-header>Ajouter Rendez-vous</nb-card-header>
    <nb-card-body>
      <nb-stepper #stepper (stepChange)="handleStepChange($event)" orientation="horizontal">
        <nb-step label="Première étape">
          <ng-template #labelOne>First step</ng-template>
          
          <br>
          <br>
          <nb-select  fullWidth placeholder="Séléctionner l'unité opérationelle" (selectedChange)="selectchange()">
            <nb-option-group *ngFor="let group of societes" [title]="group.title">
              <nb-option *ngFor="let option of group.uniops" [value]="option" (click)="selectUniOp(option)">
                {{ option.title }}
              </nb-option>
            </nb-option-group>

        </nb-select>
        <br>
        <br>
        <nb-select fullWidth placeholder="Choisir le type de rendez-vous &nbsp; &nbsp; "(selectedChange)="typeRdv($event)">
          <nb-option [value]="1">Examen médicale</nb-option>
          <nb-option [value]="2">Examen complémentaire</nb-option>
        </nb-select>

                     
         <br>
         <br>
         <br>
         <br>
         <br>
         
          <button nbButton disabled nbStepperNext style="margin-right:50px">Précédent &nbsp; &nbsp;&nbsp;</button>
          <button nbButton [disabled]="!selectedExam || !uniopid" nbStepperNext>Suivant</button>
        </nb-step>
        <nb-step label="Deuxième étape">
          <br>
          <br>
          <ng-container *ngIf="changeEvent && changeEvent.index === 1">
            <input
             
              [formControl]="employeeFormControl"
              nbInput
              type="text"
              placeholder="Choisir collaborateur(s)"
              [nbAutocomplete]="auto"
              style="margin-left: 0%;"
              fullWidth            
              />
              <div class="selected-items">
                <span *ngFor="let item of selectedItems" class="selected-item">
                   {{ item.employee.firstname }} {{ item.employee.lastname }}
                  <button nbButton   size="small" (click)="removeSelectedItem(item)">
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </span>
              </div>     
            <nb-autocomplete #auto [selectedItems]="employeeFormControl.value">
              <nb-option
              *ngFor="let option of filteredOptions$ | async; trackBy: trackByFn"
              [value]="optionValue(option)"
            >
          
                <nb-checkbox
                #checkbox
                  (click)="$event.stopPropagation()"
                  [checked]="selectedItemsState[option.id]"
                  (change)="toggleSelection(option, $event.target.checked)"
                >
                <strong>Matricule</strong>: &nbsp;{{option.matricule}}  <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom et Prénom:</strong>  &nbsp;{{ option.firstname }} {{option.lastname}}</nb-checkbox>
             
            </nb-option>
            </nb-autocomplete>
          </ng-container>
          <br>
          <br>
          <br>
          <br>
          
          <button nbButton nbStepperPrevious style="margin-right:50px">Précédent</button>
          <button nbButton nbStepperNext [disabled]="!hasSelectedItems()">Suivant</button>
        </nb-step>
        <nb-step label="Troisième étape">
          <br>
          <br>
          <input nbInput
          placeholder="Form Picker"
          [formControl]="dateFormControl"
          [nbDatepicker]="formpicker">
          <nb-datepicker  #formpicker></nb-datepicker>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button nbButton nbStepperPrevious style="margin-right:50px">Précédent</button>
          <button nbButton nbStepperNext>Suivant</button>
        </nb-step>
        <nb-step label="Quatrième étape">
          <br>
          <br>
            <input nbInput
                   type="text"
                   [formControl]="time"
                   [nbTimepicker]="timepicker1"/>
            <nb-timepicker (timeChange)="time = $event"  #timepicker1  ></nb-timepicker>
            <br>
            
            <br>
            <input nbInput
            type="text"
            [formControl]="time2"
            [nbTimepicker]="timepicker2"/>
            <nb-timepicker  (timeChange)="time2 = $event"  #timepicker2 ></nb-timepicker>

            
            <br>
            <br>
          <button nbButton nbStepperPrevious style="margin-right:50px">Précédent</button>
          <button nbButton nbStepperNext>Suivant</button>
        </nb-step>
        <nb-step label="Cinquième étape">
          <br>
          <br>
        
          <table>
            <ng-container *ngFor="let item of selectedItems; let i=index">
              <tr>
                <td >
                  <span>
                    {{ item.employee.firstname }} {{ item.employee.lastname }} &nbsp; &nbsp;
                  </span>
                  <ng-container *ngIf="item.visite?.type.toLowerCase()=='sms' && item.visites.length > 0">
                    <div>
                      <p>{{ item.employee.firstname }} a les visites suivantes non complétées :</p>
                      <div *ngFor="let item2 of item.visites">
                        <ng-container *ngIf="item2.employee.id == item.employee.id">
                          <nb-checkbox (checkedChange)="addIncomplete(i, item2, $event)">{{item2.primaryType.type}}</nb-checkbox>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="selectedExam == 1 else examComp">
                    <nb-select size="small" placeholder="Type de visite" [(ngModel)]="item.visite">
                      <nb-option *ngFor="let option of typevis" [value]="option" (click)="getIncomplete(item.employee.id, option, i)">
                        {{ option.type }} {{option.remarque}}
                      </nb-option>
                    </nb-select>
                  </ng-container>
                  <ng-template #examComp>
                    <nb-select placeholder="Type d'examen" [(ngModel)]="item.typeExam">
                      <nb-option *ngFor="let option of typeExam" [value]="option" item.typeExam>
                        {{ option.type }}
                      </nb-option>
                    </nb-select>
                  </ng-template>
                  
                </td>
              </tr>
            </ng-container>
          </table>
          
        
          
          <br>
          <br>
        <button nbButton nbStepperPrevious style="margin-right:50px">Précédent</button>
        <button nbButton disabled nbStepperNext>Suivant</button>
      </nb-step>
      </nb-stepper>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Annuler</button>
      <button nbButton status="primary" (click)="submit()" [disabled]="!isLastStep">Confirmer</button>
  
  
    </nb-card-footer>
  </nb-card>
  
 
