@import '../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }

}
.custom-timepicker ::ng-deep .timepicker-list {
  max-height: 200px; /* Adjust the desired height here */
}
