<nb-card *ngIf="action === 'edit'||action === 'add' else delete">
    <nb-card-header>Remplissez ce formulaire s'il vous plait</nb-card-header>
<nb-card-body>
    <form  [formGroup]="modalForm" (ngSubmit)="onSubmit()" aria-labelledby="title">
      <div class="form-control-group" *ngFor="let field of fields">
        <label class="label">{{ field.title }}:</label>
        <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'text'" nbInput fullWidth [type]="field.type" [formControlName]="field.name" [required]="true">
          <input *ngSwitchCase="'email'" nbInput fullWidth [type]="field.type" [formControlName]="field.name" [required]="true">

          <input *ngSwitchCase="'number'" nbInput fullWidth [type]="field.type" [formControlName]="field.name" [required]="true">
          <ng-container *ngSwitchCase="'nb-datepicker'">
           <!-- <div *ngIf="modalForm.get(field.name).statusChanges | async as status">
              Current Status: {{ status }} {{modalForm.status}}
            </div>
            <div *ngIf="modalForm.get(field.name).valueChanges | async as value">
              Current value: {{ value }}
            </div> -->
            <input nbInput fullWidth [formControlName]="field.name"  [nbDatepicker]="myDatepicker" >
            <nb-datepicker #myDatepicker></nb-datepicker>
            
            </ng-container>
          <ng-container *ngSwitchCase="'select'">
            <nb-select  fullWidth [formControlName]="field.name" >
              <nb-option-group *ngFor="let optionGroup of field.optionGroups" [title]="optionGroup.title">
                <nb-option *ngFor="let option of optionGroup.uniops" [value]="option" (click)="onClick(option)">
                  {{ option.title }}
                </nb-option>
              </nb-option-group>
            </nb-select>
          </ng-container>
        </ng-container>
        <div *ngIf="modalForm.get(field.name).invalid && (modalForm.get(field.name).dirty || modalForm.get(field.name).touched)">
          <div *ngIf="modalForm.get(field.name).errors.required">{{ field.title }} is required</div>
          <div *ngIf="modalForm.get(field.name).errors.email">Please enter a valid email address for {{ field.title }}</div>
          <div *ngIf="modalForm.get(field.name).errors.minlength">{{ field.title }} must be at least {{ modalForm.get(field.name).errors.minlength.requiredLength }} characters long</div>
        </div>
        </div>

 
        
        <br>
        <div class="buttons-container">
            <button class="cancel" nbButton status="danger" (click)="onCancel()">Annuler</button>
            <button  nbButton  status="success" [disabled]="modalForm?.invalid"  [class.btn-pulse]="submitted"> Confirmer</button>
        </div>
    
    </form>
  </nb-card-body>
</nb-card>
    <ng-template #delete >
      <nb-card>
      <nb-card-header>Are you sure you want to delete this Item?</nb-card-header>
      <nb-card-body>
      <form #modalForm="ngForm" (ngSubmit)="onDelete()" aria-labelledby="title">
        <div class="buttons-container">
          <button class="cancel"   status="success"  nbButton (click)="onCancel()">Annuler</button>
          <button  nbButton status="danger" type="submit"> Confirmer</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>




    
