<div class="row">
  <div class="col-sm">
    <nb-card>
      <nb-card-header>Ajouter Collaborateur</nb-card-header>
      <nb-card-body>
        <input type="number" nbInput fullWidth placeholder="Matricule">

        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Prénom">
          <input type="text" nbInput fullWidth placeholder="Nom">
        </div>
        <input type="number" nbInput fullWidth placeholder="Age">
        <div>
          <nb-card>
            
            <nb-select placeholder="RU" (selectedChange)="callme($event)"  fullWidth [(ngModel)]="value" >
            <nb-option value="1"(change)="callme($event)">SEPT</nb-option>
            <nb-option value="2">SST</nb-option>
            <nb-option value="3">SCT</nb-option>
            </nb-select>
            <nb-card *ngIf="value==1" >
            <nb-select fullWidth [(ngModel)]="val2" >
              <nb-option value="1">AST</nb-option>
              <nb-option value="2">Power</nb-option>
              <nb-option value="3">SEC</nb-option>
              <nb-option value="4">Direction</nb-option>
              <nb-option value="5">Platforme</nb-option>
              <nb-option value="6">ETU</nb-option>
              <nb-option value="7">CST2</nb-option>
              <nb-option value="8">Autre</nb-option>
            </nb-select>
            <input type="text" nbInput *ngIf=" val2==8 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
          </nb-card>
            <nb-card *ngIf="value==2">
            <nb-select fullWidth  [(ngModel)]="val3" >
              <nb-option value="1">CST1</nb-option>
              <nb-option value="2">CST2</nb-option>
              <nb-option value="3">SFT</nb-option>
              <nb-option value="4">Direction</nb-option>
              <nb-option value="5">Platforme</nb-option>
              <nb-option value="6">Autre</nb-option>
            </nb-select>
            <input type="text" nbInput *ngIf=" val3==6 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
          </nb-card>
          <nb-card *ngIf="value==3">
            <nb-select fullWidth  [(ngModel)]="val4">
              <nb-option value="1">SCT</nb-option>
              <nb-option value="2">Autre</nb-option>
            </nb-select>
            <input type="text" nbInput *ngIf=" val4==2 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
          </nb-card>
          </nb-card>
          <nb-card>
            <nb-checkbox [(ngModel)]="chx1"><h6>Suivit Médicale Spéciale</h6></nb-checkbox>
            <nb-card *ngIf="chx1">
              <nb-select fullWidth  [(ngModel)]="val3" >
                <nb-option value="1">Inférieure à 18 ans</nb-option>
                <nb-option value="2">Grossesse ou Allaitement</nb-option>
                <nb-option value="3">Handicape</nb-option>
                <nb-option value="4">Maladies chroniques</nb-option>
                <nb-option value="5">Exposées aux risques d'AT</nb-option>
                <nb-option value="6">Exposées aux risques de MP</nb-option>
                <nb-option value="7">Autre</nb-option>
              </nb-select>
              <input type="text" nbInput *ngIf=" val3==7 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
            </nb-card>
            <nb-checkbox [(ngModel)]="chx2"><h6>Examens complémentaires</h6></nb-checkbox>
            <nb-card *ngIf="chx2">
              <nb-select fullWidth  [(ngModel)]="val3" >
                <nb-option value="1">Analyse Sanguine</nb-option>
                <nb-option value="2">Examen Radiologie</nb-option>
                <nb-option value="3">Vaccination anti-tétanique</nb-option>
                <nb-option value="4">Audiométrie</nb-option>
                <nb-option value="5">Autre</nb-option>
                
              </nb-select>
              <div><input nbInput
              placeholder="Date de la premiére visite"
              [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker>
    
              </nb-datepicker>
            </div>
              <div><input nbInput
              placeholder="Date de la deuxiéme visite"
              [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker>
                
              </nb-datepicker>
            </div>
              <input type="text" nbInput *ngIf=" val3==5 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
            </nb-card>
            <nb-checkbox [(ngModel)]="chx3"><h6>Aptitude</h6></nb-checkbox>
            <nb-card *ngIf="chx3">
              <nb-select fullWidth  [(ngModel)]="val3" >
                <nb-option value="1">Habilitation électrique</nb-option>
                <nb-option value="2">Habilitation chariot élévateur</nb-option>
                <nb-option value="3">Conduite nacelle</nb-option>
                <nb-option value="4">UTILISATION DES GERBEURS ÉLECTRIQUES</nb-option>
                <nb-option value="5">Habilitation à la conduite Autoclave</nb-option>
                <nb-option value="6">Sécurité de travail en hauteur</nb-option>
                <nb-option value="7">FORMATION DES CONDUCTEURS ROUTIERS POUR LE TRANSPORT DES MATIÈRES DANGEREUSES</nb-option>
                <nb-option value="8">"Secourisme BLS/AED provider"</nb-option>
                <nb-option value="9">ÉQUIPE DE SECONDE INTERVENTION (ESI)</nb-option>
                <nb-option value="10">Visiotest</nb-option>
                <nb-option value="11">Autre</nb-option>
              </nb-select>
              <div><input nbInput
              placeholder="Date de la premiére visite"
              [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker>
    
              </nb-datepicker>
            </div>
              <div><input nbInput
              placeholder="Date de la deuxiéme visite"
              [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker>
                
              </nb-datepicker>
            </div>
              <input type="text" nbInput *ngIf=" val3==11 " type="number" fullWidth shape="rectangle" placeholder="Hidden">
            </nb-card>
          </nb-card>
          
      </div>
          
      
        <input type="text" nbInput type="text" fullWidth shape="rectangle" placeholder="Poste de Travail">
        <input nbInput
          placeholder="Date d'embauche"
          [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker>

          </nb-datepicker>
          <div><input nbInput
          placeholder="Date de visite d'embauche"
          [nbDatepicker]="formpicker1">
          <nb-datepicker #formpicker1>
            
          </nb-datepicker>
        </div>
        
        <div>
          <h6>Questionnaire EVREST</h6>
        <nb-radio-group>
          <nb-radio>Oui</nb-radio>
          <nb-radio>Non</nb-radio>
        </nb-radio-group>
      </div>
        <div>
          <button type="submit" nbButton status="success">Valider</button>
        </div>

      </nb-card-body>
      
    </nb-card>
    
  </div>


</div>
