<nb-card>
  <nb-card-header>
    <nb-card>
      <nb-tabset (changeTab)="onTabChanged($event)">
        <nb-tab *ngFor="let tab of tabs" [tabTitle]="tab.title" [tabId]="tab.id">
          <ng2-smart-table
            [settings]="settings"
            [source]="tableData"
            (create)="openAddDialog()"
            (edit)="onEditClick($event)"
            (delete)="onDeleteConfirm($event)"
            (custom)="openAddDialog()"
            (customEvent)="onCustomEvent($event)">
          </ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </nb-card-header>
</nb-card>