.btn-primary {
    color: #fff;
    background-color: #74d900;
    border-color: #74d900;
    width: 40px;
    margin-left: 5px;
    height: 30;
    
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #1eff00ce;
    border-color: #1eff00be;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 255, 38, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #73ff0046;
    border-color: #73ff0046;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3acc00;
    border-color: #005cbf;
  }
  
  .fa-plus:before {
    content: "\f067";
  }

  .uniops-container {
    
    display: flex;
    align-items: center;
  }
  
  .uniops-container nb-select,
  .uniops-container button {
    height: 100%;
  }
  